system/system/priv-app/Velvet/Velvet.apk
system/system/priv-app/PrebuiltGmsCorePi/PrebuiltGmsCorePi.apk
system/system/app/GoogleCamera/GoogleCamera.apk
system/system/app/Chrome/Chrome.apk
product/app/WallpapersBReel2018/WallpapersBReel2018.apk
